extends _layout.pug

block content
  div.container.py-3
    include _header
    main.form-signin.text-start
      h1.h3.mb-3.fw-normal Details
      table.table
        tr
          th(width='150px') ID
          td= meeting.id
        tr
          td SID
          td= meeting.twilio_sid
        tr
          td Status
          td= twilioRoom.status
        tr
          td Room Created At
          td= meeting.twilio_room_created_at
        tr
          th Title
          td= meeting.title
        tr
          th Developer
          td= meeting.developer
        tr
          th Client
          td= meeting.client
        tr
          th Project
          td= meeting.project
        tr
          th(colspan=2) Description
        tr
          td(colspan=2)= meeting.description
        
    div#video-list
  script(src="https://code.jquery.com/jquery-3.6.1.min.js")
  script(src="https://sdk.twilio.com/js/video/releases/2.22.1/twilio-video.min.js")
  script.
    const twilioToken = '#{twilio_token}';
    const twilioRoom = '#{meeting.twilio_room_name}';
    const role = '#{role}';
  script(src="/video.js")
